.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  /* align-items: center; */
  justify-items: center;
  min-height:auto;
  /* padding: 80px; */
  /* gap: 64px; */
  font-family: var(--font-geist-sans);
}
.main { 
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  padding: 20px;
}
.btn{
  background-color: red;
  padding: 10px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.btn2{
  background-color: red;
  padding: 8px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  width: 180px;
  height: 50px;
  cursor: pointer;
}
.link{
  background-color: blue;
  width: 150px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  height: 40px;
  margin-top: 20px;
}
.div_btn{
  display: flex;
  gap: 10px;
}
.text{
  color: blue;
}
.common{
  color: blue;
  text-align: center;
  font-size: 32px;
  padding: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.heading{
  color: blue;
  text-align: center;
}
.module{
  color: red;
}